<header>
  <app-nav></app-nav>
  <div class="tagline">

    <h1>Lightening fast <br>Valuation Provider</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae dolorum esse, aut, suscipit ratione at aspernatur fugiat, non voluptatem nulla sit natus nobis architecto. Ratione ad deleniti totam accusamus pariatur?</p>
    <div>
        <!-- <a href="#" class="contact">Free Trial</a>
        <a href="#" class="learn-more">Learn More</a> -->
        <form>
         <input type="text" name="search" placeholder="Find value by location..."><br><br>
          <!-- <a href="#" class="contact">Locate Me</a> -->
        </form>
        <button class="btn btn-primary btn-lg" style="margin-left: 180px" data-toggle="modal" data-target="#myModal">Locate Me</button>
    </div>
  </div>

  <img src="/assets/house.png" style="float: right" />
 <div class="overlay"></div>
</header>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <div class="modal-body">
            <div style="padding: 5px">
                <div class="row">
                    <div class="col">
                      <h4>Current value 500k/perch</h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Assumenda ipsa veniam, culpa praesentium eaque dicta at mollitia,
                         sequi!
                      </p>
                      <h4>Value in 2019</h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Assumenda ipsa veniam, culpa praesentium eaque dicta at mollitia,
                        sequi!
                      </p>

                      <button class="btn btn-success">View more</button>
                    </div>
                    <div class="col">
                      <img src="https://www.telegraph.co.uk/content/dam/news/2016/11/27/dump-tower-twitter_trans_NvBQzQNjv4BqeY8zn44CJx5co60z9sMGTUWjmulo7wva9c-kqRbE-Zc.jpg?imwidth=450"  width="500px"alt="">
                    </div>
                  </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
