<form action="/action_page.php">
  <div class="form-group">
    <label for="email">Extent:</label>
    <input type="text" id="extent" name="extent" class="form-control" placeholder="Enter Extent">
  </div>
  <div class="form-group">
    <label for="pwd">View:</label>
    <input type="password" id="view" name="password-input" class="form-control" placeholder="">
  </div>
  <div class="form-group">
    <label class="col-md-3 col-form-label" for="select1">Waterfront</label>
    <select id="select1" name="select1" class="form-control">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
  </div>
  <div class="form-group">
      <label for="pwd">Condition:</label>
      <input type="number" id="condition" name="condition" class="form-control" placeholder="">
  </div>
  <div class="form-group">
      <label for="pwd">Condition:</label>
      <input type="number" id="grade" name="grade" class="form-control" placeholder="">
  </div>
  <div class="form-group">
      <label class="col-md-3 col-form-label" for="textarea-input">Zipcode</label>
      <input type="number" id="zipcode" name="zipcode" class="form-control" placeholder="">
  </div>
  <div class="form-group">
      <label class="col-md-3 col-form-label" for="date-input">Latitude</label>
      <input class="form-control" id="lat" type="text" name="lat" placeholder="">
  </div>
  <div class="form-group">
      <label class="col-md-3 col-form-label" for="date-input">Longtitude</label>
      <input class="form-control" id="lon" type="text" name="lon" placeholder="">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
